:root {
  --basic-lightgrey: #eeeeee;
  --basic-grey: #dfdfdf;
  --basic-grey-contacts: #666666;
  --basic-darkgrey: #d5d5d5;
  --basic-grey-header-element: #a6a6a6;
  --basic-lightgrey-form: #d7dcde;
  --basic-grey-form: #b4b9bb;
  --basic-grey-text-form: #444444;
  --basic-grey-border-number: #dbdbdb;
  --basic-grey-filter-focus: #4d4d4d;
  --basic-grey-filter: #888888;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic--white-button: rgba(0, 0, 0, 0.0001);
  --basic-lightred: #fb565a;
  --basic-red: #e74246;
  --basic-darkred: #d7373b;
  --basic-lightgreen: #00ca74;
  --basic-green: #00bc6c;
  --besic-darkgreen: #00aa62;
  --basic-lightyellowe: #efc849;
  --basic-yellowe: #eab534;
  --basic-darkyellowe: #e5a722;
  --basic-grey-socials: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  --basic-red-socials: linear-gradient(0deg, #e74246, #e74246), #ffffff;
  --basic-darkred-socials: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  --basic-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-transparent-button: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
  min-width: 1160;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-blcack);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-lightgrey);
  color: var(--basic-black);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid rgba(4, 250, 147, 0.7);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-lightgrey);
  background-color: transparent;
}

.site-navigation,
.basket {
  list-style: none;
}

/* Logo */

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  width: 1158px;
  margin: o auto;
  outline: 5px solid rgba(3, 118, 226, 1);
  outline-offset: -5px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  margin-top: 49px;
}

.site-navigation-item {
  margin-right: 45px;
  margin-top: 75px;
  margin-bottom: 9px;
}

.basket {
  margin: 0;
  margin-top: 75px;
}

/* User navigation */

.site-navigation a,
.basket a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--basic-lightred);
}

.site-navigation a:active,
.basket a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Slider */

.tagline {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 80px;
  outline: 5px solid rgba(209, 228, 38, 0.7);
  outline-offset: -5px;
}

.slider-list {
  list-style: none;
}
/* Row-services */

.row-services {
  margin-bottom: 80px;
  outline: 5px solid rgba(168, 73, 132, 0.7);
  outline-offset: -5px;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 73px;
  outline: 5px solid rgba(170, 96, 219, 0.7);
  outline-offset: -5px;
}

/* index-column-1 */

.header-about {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-list {
  list-style: none;
}

/* Index-column-2 */

.index-column-2 p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.index-column-2 dd{
  display: flex;
  margin: 0;
  padding: 0;
}
.features-list dt {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.features {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.features-list dd {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}


/* Button */
.button,
.button-yellowe,
.button-green {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--basic-lightred);
  color: var(--basic-white);
  border: none;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--basic-darkred);
  mix-blend-mode: normal;
  box-shadow: var(--basic-box-shadow);
  color: var(--basic-transparent-button);
}

.button-green {
  background-color: var(--basic-lightgreen);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green);
}

.button-green:active {
  background-color: var(--besic-darkgreen);
  color: var(--basic-transparent-button);
}

.button-yellowe {
  background-color: var(--basic-lightyellowe);
}

.button-yellowe:hover,
.button-yellowe:focus {
  background-color: var(--basic-yellowe);
}

.button-yellowe:active {
  background-color: var(--basic-darkyellowe);
  color: var(--basic-transparent-button);
}

/* companies */

.companies {
  outline: 5px solid rgba(50, 51, 15, 0.7);
  outline-offset: -5px;
}

.companies-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  text-decoration: none;
  margin-bottom: 80px;*/
}

.companies-list-item {
  width: 298px;
  margin: auto;

}

.companies img:hover,
.companies-list img:focus {
  opacity: 0.3;
}

.companies img:active {
  opacity: 0.1;
}

.companies-list a {
  color: var(--basic-black);
}

/* Footer-contacts */

.heder-contacts {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.phone {
  color: inherit;
}

.footer-contacts {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-contacts);
  margin-bottom: 68px;
  outline: 5px solid rgba(83, 186, 218, 0.7);
  outline-offset: -5px;
}

/* Social button */

.row-social {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(83, 186, 218, 0.7);
  outline-offset: -5px;
}

.social-button {
  color: var(--basic-black);
}

.social-list-item {
  margin: 0;
}

/* Text-footer */

.text-footer-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.text-footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  outline: 5px solid rgba(233, 177, 177, 0.7);
  outline-offset: -5px;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Page-catalog */

.page-catalog h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-bar {
  display: grid;
  grid-template-columns: 260px 1fr;
  margin-bottom: 60px;
}

/* catalog-list-sorter" */

/* Filters */
.filters-row {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

/* Sorter-list */

.catalog-list-sorter {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.sorter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorter-list-item-active a,
.sorter-down {
  color: var(--basic-black);
  opacity: 1;
}

.sorter-list-item a,
.sorter-up {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorter-list-item a:hover,
.sorter-list-item a:focus,
.sorter-list-item-active a:hover,
.sorter-list-item-active a:focus,
.sorter-down:hover,
.sorter-down:active,
.sorter-up:hover,
.sorter-up:active {
  opacity: 0.6;
}

.sorter-list-item a:active,
.sorter-list-item-active a:active,
.sorter-down:active,
.sorter-up:active {
  opacity: 1;
}

/* Catalog-list */

.catalog {
  outline: 5px solid rgba(0, 110, 255, 0.7);
  outline-offset: -5px;
  margin-left: auto;
  min-height: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-lightgrey);
  text-align: center;
  margin-bottom: 55px;
}

.catalog-list-item {
  outline: 5px solid rgba(51, 255, 0, 0.7);
  outline-offset: -5px;
  width: 359px;
  margin-right: 42px;
  margin-top: 72px;
}

.catalog-list-item:nth-child(2n) {
  margin-right: 0;
}

.width-other {
  width: 358px;
}

.catalog-title a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-title a:hover,
.catalog-title a:focus {
  color: var(--basic-lightred);
}

.catalog-title a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-img-wrap {
  background-color: var(--basic-grey-filter);
}

.catalog-img-wrap:hover,
.catalog-title:active {
  background-color: var(--basic-grey-filter-focus);
}

/* Catalog-page */

.catalog-page {
  list-style: none;
}

.button-catalog {
  border-radius: 3px;
  border: none;
  background-color: var(--basic-lightgrey);
  color: var(--basic-black);
}

.button-catalog-active {
  background-color: var(--basic--white-button);
  border: 3px solid var(--basic-grey-border-number);
}

.button-catalog:hover,
.button-catalog:focus,
.button-catalog-active:hover,
.button-catalog-active:focus {
  background-color: var(--basic-grey);
}

.button-catalog:active,
.button-catalog-active:active {
  background-color: var(--basic-darkgrey);
  box-shadow: var(--basic-box-shadow);
}
